.home-page-animation {
  width: 30vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main {
  width: 100vw;
  height: 100vh;
  background-color: #201b2c;
  display: block;
}

.example-spacer {
  flex: 1 1 auto;
}

.icon {
  background: #3f3950;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  color: #00ff88;
}

.toolbar {
  background: #2f2841;
  box-shadow: 0px 10px 40px #00000056;
  display: flex;
  align-items: center;
}

::ng-deep .menu {
  background: #2f2841;
  .icon {
    background: none;
  }
  span {
    color:#00ff88;;
  }
}

.title>a {
  color: #00ff88;
  text-decoration: none;
  font-weight: 800;
}