<h1 class="card-title">RESTORE</h1>
<div class="instructions">
  <p>Para que venhamos a alcançar um melhor nível de segurança,
    sua nova senha deve conter:
  </p>
  <li>De 8 a 18 caracteres</li>
  <li>1 número, 1 letra maiúscula e 1 minúscula</li>
  <li>1 caractere especial ex.: (@, #, $, &, *)</li>
</div>
<form [formGroup]="newPasswordForm">
  <div class="textfield">
    <label for="newPwd">Nova senha</label>
    <input
      [ngClass]="newPasswordForm.controls.newPwd.touched && newPasswordForm.controls.newPwd.invalid ? 'error' : 'normal'"
      type="password" formControlName="newPwd" placeholder="Senha" [maxLength]="18" />
    <div class="errors">
      <div class="invalid-field"
        *ngIf="newPasswordForm.controls.newPwd.touched && newPasswordForm.controls.newPwd.errors?.required">
        Campo obrigatório
      </div>
      <div class="invalid-field"
        *ngIf="newPasswordForm.controls.newPwd.touched && newPasswordForm.controls.newPwd.errors?.pattern">
        Senha inválida
      </div>
    </div>
  </div>
  <div class="textfield">
    <label for="checkNewPwd">Confirme a nova senha</label>
    <input
      [ngClass]="newPasswordForm.controls.checkNewPwd.touched && newPasswordForm.controls.checkNewPwd.invalid ? 'error' : 'normal'"
      type="password" formControlName="checkNewPwd" placeholder="Senha" [maxLength]="18" />
    <div class="errors">
      <div class="invalid-field"
        *ngIf="newPasswordForm.controls.checkNewPwd.touched && newPasswordForm.controls.checkNewPwd.errors?.required">
        Campo obrigatório
      </div>
      <div class="invalid-field"
        *ngIf="newPasswordForm.controls.checkNewPwd.touched && newPasswordForm.controls.checkNewPwd.errors?.diff">
        As senhas não são iguais
      </div>
    </div>
  </div>
  <button class="btn-restore" [disabled]="newPasswordForm.invalid" (click)="restore()">RESTORE</button>
</form>