.card-title {
  color: #00ff88;
  font-weight: 800;
  margin: 0px 0px 5px 0px;
  text-align: center;
}

form {
  display: grid;
}

.textfield {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 8px;
}

.textfield > input {
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 15px;
  background: #514869;
  color: #f0ffffde;
  font-size: 12pt;
  box-shadow: 0px 10px 40px #00000056;
  box-sizing: border-box;
}

.normal {
  outline: none;
}

.error {
  outline: 1px solid #FF3434;
}

.textfield > label {
  color: #f0ffffde;
  margin-bottom: 5px;
}

.errors {
  display: flex;
  height: 1rem;
}

.errors > .invalid-field {
  font-size: 10pt;
  margin-top: 5px;
  color: #FF3434;
}

.textfield > input::placeholder {
  color: #f0ffff94;
}

.instructions {
  font-size: 11pt;
  color: #00ff88;
  margin-bottom: 10px;
  p {
    font-size: 12pt;
    margin: 0px 0px 2px 0px;
  }
}

.btn-signup {
  width: 100%;
  padding: 16px 0px;
  margin-top: 10px;
  border: none;
  border-radius: 8px;
  outline: none;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 3px;
  color: #2b134b;
  background: #00ff88;
  cursor: pointer;
  box-shadow: 0px 10px 40px -12px #00ff8052;
}

.btn-signup:disabled {
  background: #00ff8882;
  box-shadow: none;
}

@media screen and (-webkit-min-device-pixel-ratio:0){
  input[type="password"]{
    letter-spacing: 7px;
  }

  input:placeholder-shown[type="password"]{
    letter-spacing: normal;
  }
}